<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>feedback</th>
            <th>jobDescription</th>
            <th>contact number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.opportunityName}}</td>
            <td>{{user.location}}</td>
            <td>{{user.email}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteCandidate(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>
