<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Accolite University</title>
</head>

<body>
  <div class="container">
    




    <mat-toolbar  style="background-color: white;">
      <img src="../assets/logo.jpg" style="height:50px; width: auto" alt="Accolite University">OPPORTUNITY MANAGEMENT

    <div *ngIf="loggedIn===false">
      <button mat-raised-button color="primary" style="right: -650px; " (click)="signInWithGoogle()">Sign In With Google</button>
    </div>
    <div class="signoutoption" *ngIf="loggedIn===true">
      <br>
      <button mat-raised-button color="primary" style="right: -650px; " (click)="signOut()">Sign Out</button>
    </div>
  </mat-toolbar>
  </div>
  <div *ngIf="loggedIn===true">
    <app-employees></app-employees>
  </div>


</body>

</html> -->

<app-trends></app-trends>


 <!-- <app-employees></app-employees> -->