<html>

<body>
    <!-- <div class="harish"> -->
        <h1 class="card-header bg-info">
            Welcome to Trends Page
        </h1>
        <h3 class="title">
            Opportunities per location {{this.counts}}
        </h3>
        <!-- <div class="row ml-5" class="center">
            <div class="col">
                <div class="row"> -->
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>

                <!-- </div>
            </div>
        </div> -->
    <!-- </div> -->

</body>

</html>
